node_modules
.env
*.pdf
*.xls
*.xlsx
mochawesome-report
cypress/results
cypress/cypress/vidoes
cypress/cypress/screenshots
mochawesome-report
cypress/results
cypress/vidoes
cypress/screenshots
mochawesome.json
./mochawesome-report
mochawesome.json